{{#each serializedUser as |user|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{user.username}}</h5>
    <p class="card-text">{{user.password}}</p>
    <a href="#" class="btn btn-primary">This is their id  : {{user.id}}</a>
  </div>
</div>
{{/each}}