
<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="newpostform" class="card-body">
    <label class="titlelabel">Title</label>
    <input type="text" name="titletext" class="form-input" />
<br>
    <label class="bodylabel" >Content</label>
    <textarea name="bodytext" class="form-input"></textarea>
<br>
    <button type="submit" class="btn">Create</button>
  </form>
</div>
<link rel="stylesheet" href="../css/style.css">
<script src="/js/new.js"></script>
